.fondo{
	background-image:url(../img/fondo-navidad.png);
	padding-bottom: 36%;
	background-repeat:no-repeat; 
	background-size:cover;
	width:100%;
	height: 25%;
	position: absolute;
}

.santa-claus{
	background-image:url(../img/santa-claus-01-01.png);
	padding-bottom:16%;
	margin-left: 41%;
	background-repeat:no-repeat; 
	background-size:cover;
	width:15%;
	position: relative;
	top: 210%;
	border: 0px solid;
	animation: moviemto-santa 5.1s infinite 800ms steps(1);
	-webkit-animation: moviemto-santa 5.1s infinite 800ms steps(1);
}


/*animacion*/

@keyframes moviemto-santa{
	0%{ background-position: 0 0 }
	25%{ background-position: -1000px 0px
	}

	50%{ background-position:  -2050px 0 }
	60%{ background-position:  -3080px 0 }
}